@import './assets/css/modern-normalize/modern-normalize.css';

/* Fonts */

@font-face {
    font-family: 'quicksandregular';
    src: url('./assets/fonts/quickAndRubik/quicksand-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/quickAndRubik/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold';
    src: url('./assets/fonts/quickAndRubik/rubik-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/quickAndRubik/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Layout */

div {
    border: 1px solid green;
}

main, .banner, .form-section,
.banner-logo, .banner-attribution,
form, .form-head-text,
.form-inputs-inputs,
.first-col, .second-col,
.form-row, .form-inputs {
    display: flex;
}

main {
    height: 100vh;
}

.banner, .banner-logo,
form, .form-head-text,
.form-inputs, .submit-section,
.first-col, .second-col,
.form-row, .form-input-header {
    flex:1;
}

.form-inputs-inputs {
    flex: 4;
}

.banner, .form-section,
form, .first-col,
.second-col, .form-row,
.form-inputs {
    flex-direction: column;
}
.banner-logo, .banner-attribution,
.form-head-text {
    align-items: flex-end;
}

.banner-attribution, .form-section {
    flex: 2;
}

.banner-attribution {
    justify-content: center;
}

form {
    padding-left: 40px;
}

/* Colours */

main {
    background-color: #F9FAFB;
}

.form-inputs {
    background-color: #FFFFFF;
    padding-right: 20%;
}

button {
    background-color: #596D48;
    color: #FFFFFF;
}


input:focus {
    border: 3px solid #697bAF;
}

input:invalid {
    border: 2px solid #921818;
}

form a {
    color: #596D48;
    text-decoration: none;
}






