@import './assets/css/modern-normalize/modern-normalize.css';

/* Fonts */

@font-face {
    font-family: 'quicksandregular';
    src: url('./assets/fonts/quickAndRubik/quicksand-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/quickAndRubik/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold';
    src: url('./assets/fonts/quickAndRubik/rubik-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/quickAndRubik/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: quicksandregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-head-text {
    font-family: rubikbold, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
}

button, form a {
    font-weight: 600;
}

/* Layout */


main, .banner, .form-section,
.banner-logo, .banner-attribution,
form, .form-head-text,
.form-inputs-inputs,
.first-col, .second-col,
.form-row, .form-inputs,
.logo {
    display: flex;
}

main {
    height: 100vh;
}

.banner {
    flex: 1.2;
}

.banner-logo,
form, .form-head-text,
.form-inputs, .submit-section,
.first-col, .second-col,
.form-row, .form-input-header,
.logo {
    flex:1;
}

.form-inputs-inputs {
    flex: 4;
}

.banner, .form-section,
form, .first-col,
.second-col, .form-row,
.form-inputs {
    flex-direction: column;
}

.banner-logo, .banner-attribution,
.form-head-text {
    align-items: flex-end;
}

.banner-attribution, .form-section {
    flex: 2;
}

.banner-attribution, .logo {
    justify-content: center;
}

form {
    padding-left: 40px;
}

input {
    width: 100%;
}

.banner {
    background: url(./assets/photos/halie-west-25xggax4bSA-unsplash.png);
    background-size: 100vh;
}

.logo {
    height: 100px;
    padding-block: 5px;
}

.logo img {
    height: 100%;
    width: auto;
}

.form-inputs-inputs {
    gap: 30px;
}

button {
    padding: 10px;
    border-radius: 3px;
    margin-top: 25px;
}

/* Colours */

.banner-attribution, a {
    color: #F9FAFB;
}

main {
    background-color: #F9FAFB;
}

.form-inputs {
    background-color: #FFFFFF;
}

.form-head-text, .form-inputs,
.submit-section {
    padding-right: 20%;
}

button {
    background-color: #596D48;
    color: #FFFFFF;
}

.logo {
    background-color: rgba(15, 15, 15, .4);
}

input:focus {
    border: 3px solid #697bAF;
}

input:invalid {
    border: 2px solid #921818;
}

form a {
    color: #596D48;
    text-decoration: none;
}






